@import "tailwindcss";

@theme {
  --font-sans: "Segoe UI", "Helvetica Neue", "Arial", sans-serif;
  --font-serif: var(--font-chandas), var(--font-siddhanta), var(--font-sampradaya), "Tiro Devanagari Sanskrit", "Georgia", serif;
  --font-display: "Playfair Display", "serif";
  --font-mono: "SFMono-Regular", "Menlo", "Monaco", "Consolas", "Liberation Mono", monospace;

  @keyframes caret {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
  }

  --animate-caret: caret 1s step-end infinite;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
}

kbd {
  box-shadow: 0 1px 0 rgba(0,0,0,0.1);
}
